body{
    background-color: grey;
}

.container{
    text-align: center;
}

.content{
    text-align: center;
    margin-top: 5%;
}
.basicInfo,.descriptions{
    background-color: white;
}

.descriptions{
    margin-left: 2%;
}

#download{
    background-color: #ffbf00;
}

#cvDownload{
    color: black;
}