body{
    background-color: grey;
}

.container{
    text-align: center;
}

.content{
    text-align: center;
    /* height: 100vh; */
    margin-top: 5%;
}
.basicInfo{
    background-color: white;
    /* height: 50vh; */
}

.description{
    background-color: white;
    /* height: 100vh; */
}